matter_antimatter/src/__pycache__/file_reading.cpython-310.pyc
matter_antimatter/src/__pycache__/selection_rule.cpython-310.pyc
matter_antimatter/src/__pycache__/file_reading.cpython-310.pyc
matter_antimatter/src/__pycache__/selection_rule.cpython-310.pyc
matter_antimatter/src/__pycache__/file_reading.cpython-310.pyc
matter_antimatter/src/__pycache__/selection_rule.cpython-310.pyc
